<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prompthub.user.model.dao.UserMapper">
    <select id="selectUserById" parameterType="string" resultType="com.prompthub.user.model.dto.UserDTO">
        SELECT
        user_id AS userId,
        login_id As loginId,
        password_hash AS passwordHash,
        nickname
        FROM users
        WHERE login_id = #{id}
    </select>

</mapper>